body {
	background-color: #B31B1B;
	color: #FFF;
}
h1 {
	font-size: 56px;
}
h2 {
	font-size: 36px;
}
.izenburua-kaxa {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

.kontuak img {
	margin-left: 5px;
	margin-right: 5px;
}
.kontuak img.twitter {
    width: 48px;
}
.kontuak img.github {
    width: 44px;
}
.kontuak img.launchpad {
    width: 42px;
}
.kontuak img.transifex {
	width: 46px;
	margin-bottom: 2px;
}
