body {
	background-color: #B31B1B;
	color: #FFF;
}
h1 {
	font-size: 56px;
}
h2 {
	font-size: 36px;
}
.izenburua-kaxa {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

.sare-sozialak img {
    width: 48px;
}
