@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

html {
    font-size: 62.5%;
    font-family: "Source Sans Pro",sans-serif;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: #F7E8E8;
}

.atal-burua {
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
}

.hasiera {
    height: 100vh;
	text-align: center;
    background-color: #B31B1B;
	color: #FFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;

    &::after {
        display:block;
        position:fixed;
    }
    .atalen-aingurak {
        position: absolute;
        top: 15px;
        right: 30px;

        @media (max-width: 450px) {
            right: 0px;
            width: 100%;
            text-align: center;
        }
        .aingura {
            color: #fff;
            text-transform: uppercase;
            margin-right: 15px;
            text-decoration: none;
            font-weight: bold;
        }
    }
    .nire-argazkia {
    	border-radius: 50%;
    }
    .nire-izen-abizenak {
    	margin-top: 10px;
    	margin-bottom: 10px;

        @media (max-width: 768px) {
        	font-size: 2.4rem;
        }
        @media (min-width: 768px) {
        	font-size: 3.2rem;
        }
        @media (min-width: 992px) {
        	font-size: 4.0rem;
        }
        @media (min-width: 1200px) {
        	font-size: 5.6rem;
        }
    }
    .nire-ezizena {
    	margin-top: 0px;

        @media (max-width: 768px) {
        	font-size: 1.6rem;
        	margin-bottom: 20px;
        }
        @media (min-width: 768px) {
        	font-size: 2.4rem;
        	margin-bottom: 20px;
        }
        @media (min-width: 992px) {
        	font-size: 2.2rem;
        	margin-bottom: 40px;
        }
        @media (min-width: 1200px) {
        	font-size: 4.0rem;
        }
    }
    .kontuak {

        img {
        	margin-left: 4px;
        	margin-right: 4px;

            @media (max-width: 466px) {
            	&.twitter {
            	    width: 28px;
            	}
                &.mastodon {
                    width: 24px;
                }
                &.gitlab {
                    width: 26px;
                }
            	&.github {
            	    width: 26px;
            	}
                &.stackexchange {
                    width: 20px;
                }
                &.wikipedia {
                    width: 36px;
                    margin-bottom: -6px;
                }
            	&.launchpad {
            	    width: 24px;
            	}
            	&.transifex {
            		width: 26px;
            		margin-bottom: 2px;
            	}
            }
            @media (min-width: 466px) {
            	&.twitter {
            	    width: 38px;
            	}
                &.gitlab {
                    width: 36px;
                }
            	&.github {
            	    width: 36px;
            	}
                &.stackexchange {
                    width: 27px;
                }
                &.wikipedia {
                    width: 48px;
                    margin-bottom: -9px;
                }
            	&.launchpad {
            	    width: 34px;
            	}
            	&.transifex {
            		width: 36px;
            		margin-bottom: 2px;
            	}
            }
        }
    }
    .lantokiak {
        margin-top: 25px;

        img.argia {
            width: 100px;

            @media (max-width: 466px) {
                width: 75px;
            }
        }
        img.iametza {
            margin-bottom: -12px;
            margin-left: 15px;
            width: 150px;

            @media (max-width: 466px) {
                width: 110px;
                margin-bottom: -9px;
            }
        }
    }
}

.edukiontzia {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.proiektuak-atala {

    .atal-burua {
        margin-top: 60px;
    }
    .atala-azalpena {
        margin-bottom: 40px;
        font-size: 1.8rem;
        padding: 0px 15px;
    }
    a {
        color: #B31B1B;
    }
    .proiektuak {
        color: #333;
        text-align: center;
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        grid-auto-rows: minmax(100px, auto);

        @media (max-width: 650px) {
            grid-template-columns: 1fr;
        }
        .proiektua {

            .barrukoa {
                margin: 0 auto;
                padding: 0 20px;

                .irudia {
                    float: left;
                    width: 200px;
                    padding: 15px;

                    @media (max-width: 1105px) {
                        width: 100%;
                    }
                    img {
                        max-width: 100%;

                        @media (max-width: 1105px) {
                            max-width: 60%;
                        }
                    }
                }
                .testuak {
                    text-align: left;
                    padding: 10px;

                    h2 {
                        margin-top: 0px;
                        margin-bottom: 10px;
                        border-bottom: 2px solid #B31B1B;
                        display: inline-block;
                    }
                    .azalpena {
                        margin-bottom: 10px;
                    }
                    .erabilitako-teknologiak a {
                        padding: 0px 5px;
                    }
                }
                .botoiak {

                    .botoia {
                        border: 1px solid #B31B1B;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: #B31B1B;
                        margin: 10px;

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.itzulpenak-atala {
    background-color: #B31B1B;
    color: #fff;
    padding-top: 40px;
    margin-top: 50px;

    .atala-azalpena {
        margin-bottom: 100px;
        font-size: 1.8rem;
        padding: 0px 15px;
        text-align: center;

        .librezale-basurdea {
            vertical-align: middle;
            margin-right: 10px;
        }
        a {
            color: #fff;
            font-weight: bold;
        }
    }
    .itzulpenak-proiektuak {
        background-color: #C24848;

        .proiektuak {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(275px, auto);

            @media (max-width: 1000px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 500px) {
                grid-template-columns: 1fr;
            }

            .proiektua {
                position: relative;
                text-align: center;

                .irudia {
                    background-color: #C24848;
                    border: 1px solid #C24848;
                    border-radius: 50%;
                    position: absolute;
                    left: calc(50% - 60px);
                    top: -60px;
                    width: 120px;
                    height: 120px;

                    img {
                        width: 80px;
                        padding-top: 30px;
                    }
                }
                .izenburua {
                   margin-top: 60px;
                   font-size: 2.4rem;

                    a {
                       color: #fff;
                       text-decoration: none;
                    }
                }
                .banatzailea {
                    margin: 20px auto 20px auto;
                    width: 50px;
                    border-bottom: 1px solid #B31B1B;
                }
                .azalpena {
                    margin-bottom: 75px;
                    width: 250px;
                    margin: 0 auto;
                }
            }
        }
    }
}

.artikuluak-atala {
    margin-bottom: 50px;
    padding: 0px 20px;

    .artikuluak {

        .artikulua {

            &::after {
                content: "";
                border-bottom: 1px solid #B31B1B;
                display: block;
                margin: 30px 0px;

            }
            .irudia {
                width: 275px;
                float: left;
                margin-right: 30px;

                @media (max-width: 800px) {
                    width: 75%;
                    float: none;
                    margin: 0 auto;
                }
                @media (max-width: 600px) {
                    width: 100%;
                }
                img {
                    max-width: 100%;
                }
            }
            .testuak {

                .izenburua {
                    font-size: 2.4rem;

                    a {
                        color: #333;
                        text-decoration: none;
                    }
                }
                .data {
                    margin: 5px 0px;
                }
                .sarrera {
                    font-size: 1.8rem;

                    a {
                        color: #B31B1B;
                    }
                }
            }
        }
    }
    .artikulu-guztiak {
        text-align: center;

        a {
            color: #fff;
            text-decoration: none;
            border: 1px solid #B31B1B;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 5px;
            background-color: #B31B1B;
            margin: 10px;
            font-size: 2.2rem;
        }
    }
}
footer {
    background-color: #B31B1B;
    color: #fff;
    text-align: center;
    padding: 20px 0px;

    .edukiontzia {
        max-width: 1100px;

        @media (max-width: 1100px) {
            max-width: 90%;
        }
        a {
            color: #fff;
        }
        .cc-by-sa-logoa {
            height: 51px;
            margin-right: 30px;
        }
    }
}
